# 1. 변수와 데이터 타입 기초
## 1.1. 변수 선언과 값 할당
변수는 데이터를 저장하는 공간을 나타냅니다. Python에서 변수는 특정 값에 이름을 붙여서 사용합니다.

In [2]:
# 변수 선언과 값 할당
x = 10           # 정수형
name = "Alice"    # 문자열
height = 1.75     # 실수형
is_student = True # 불리언

## 1.2. 데이터 타입 확인하기
Python에서는 type() 함수를 사용하여 변수의 데이터 타입을 확인할 수 있습니다.

In [3]:
print(type(x))        # <class 'int'>
print(type(name))     # <class 'str'>
print(type(height))   # <class 'float'>
print(type(is_student)) # <class 'bool'>

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [5]:
print('x = ', x)      
print('name = ', name)     
print('height = ', height)   
print('is_student = ', is_student)

x =  10
name =  Alice
height =  1.75
is_student =  True

## 1.3. 데이터 타입 변환하기
Python에서는 데이터를 다른 타입으로 변환할 수 있습니다. 예를 들어, 정수를 실수로 변환하거나 문자열을 숫자로 변환할 수 있습니다.

In [11]:
# 데이터 타입 변환 예제
num_str = "100"     # 문자열
num_int = int(num_str)  # 문자열을 정수로 변환
print(num_int)       # 100

height_str = str(height)  # 실수를 문자열로 변환
print(height_str)   # '1.75'

100
1.75

# 2. 다양한 데이터 타입 실습
## 2.1. 정수 (int)
정수는 소수점이 없는 숫자를 나타냅니다.

In [12]:
# 정수 예제
num1 = 50
num2 = -7
sum_result = num1 + num2
print("합:", sum_result)  # 43

합: 43